
.world {
	-fx-opacity		 : 0.8;
    -background-color: #000066;
    -fill-color      : #e6e6ff;
    -stroke-color    : #000000;
    -hover-color     : #8080ff;
    -pressed-color   : #789dff;
    -selected-color  : #009900;
    -location-color  : #FF0000;
}

.root {
	-fx-background-color: #009900;
}
